[flake8]
jobs = 4
exclude = build,dist,.tox,.pytest_cache,__pycache__,.venv
inline-quotes = double
max-line-length = 120
max-complexity = 8
ignore = D1,C812,C814
application-import-names = inapppy,helpers,tests
import-order-style = pycharm
