[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-api-python-client = "*"
"oauth2client" = "*"
aiohttp = "*"
urllib3 = "*"

[dev-packages]
pytest-sugar = "*"
typing-extensions = "*"
twine = "*"
setuptools = "*"
wheel = "*"
pylint = "*"
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-comprehensions" = "*"
pytest-asyncio = "*"
pytest-cov = "*"
black = "*"
flake8-builtins = "*"
flake8-commas = "*"
flake8-eradicate = "*"
flake8-quotes = "*"
flake8-super-call = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
