[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-api-python-client = "*"
"oauth2client" = "*"
aiohttp = "*"

[dev-packages]
twine = "*"
setuptools = "*"
wheel = "*"
pylint = "*"
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-comprehensions" = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.6"
