aiohttp==4.0.0a0
appdirs==1.4.3
astroid==2.2.5
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
bleach==3.1.2
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==5.0a6
entrypoints==0.3
google-api-python-client==1.7.10
google-auth==1.6.3
google-auth-httplib2==0.0.3
httplib2==0.13.0
idna==2.8
idna-ssl==1.1.0
importlib-metadata==0.18
lazy-object-proxy==1.4.1
mccabe==0.6.1
more-itertools==7.2.0
multidict==4.5.2
oauth2client==4.1.3
packaging==19.0
pkginfo==1.5.0.1
pluggy==0.12.0
py==1.8.0
py-cpuinfo==5.0.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.3.1
pyparsing==2.4.2a1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
rsa==4.0
six==1.12.0
termcolor==1.1.0
toml==0.10.0
tqdm==4.32.2
twine==1.13.0
typed-ast==1.4.0
typing-extensions==3.7.4
uritemplate==3.0.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.11.2
yarl==1.3.0
zipp==0.5.2
